html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 5px
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
      
}
.sapMTextBold {
    margin-top: 5px;
    font-size:15px;
}
/*  ProductRating */
.myAppDemoWTProductRating {
    padding: 0.75rem;
}

.myAppDemoWTProductRating .sapMRI {
    vertical-align: initial;
}